body {
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    color: rgb(255, 115, 0);
}

h1 {
    font-size: 78px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 350;
  }

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 350;
    font-size: 40px;
    margin-top: 0;
  }

header {
    background: rgb(85, 85, 85);
    color: rgb(207, 207, 207);
  }

header h1, header h2 {
      color: white;
      margin: 0;
  }

footer {
    background: rgb(85, 85, 85);
    color: rgb(207, 207, 207);
    padding-top: 10px;
    text-align: center;
  }

.content-wrap {
    max-width: 950px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px;
  }

.column-narrow {
    width: 35%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
  }

.column-wide {
    width: 62%;
    float: left;
    min-height: 175px;
  }

.contact-info a {
    padding: 10px;
    display: inline-block;
  }

.education {
      background:rgb(179, 115, 90);
  }
  
.profile-img {
    border-radius: 60%;
  }